@page "/"
@rendermode InteractiveServer

@inject ApiService ApiService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<OptionButtons OnEnviar="SetOption" />

@if (items != null)
{
    <div class="grid-container">
        @foreach (var item in itemsFiltered)
        {
            <div class="grid-item">
                <strong>Codigo: @item.Codigo</strong><br />
                <div class="description">@item.Descripcion</div><br />
            
                @if(item.VActiva)
                {
                    <span class="text-status text-success">Activo</span>
                }
                else
                {
                    <span class="text-status text-danger">Inactivo</span>
                }
            </div>
        }
    </div>
}

@code {
    private List<InventoryTransaction> items = [];
    private List<InventoryTransaction> itemsFiltered = [];
    private readonly IConfiguration _config;
    private string optionSelected = "All";
    public Home(IConfiguration config)
    {
        _config = config;
    }

    private async Task LoadData()
    {
        var url = _config["ApiURL"] ?? "";
        items = await ApiService.GetItemsAsync<InventoryTransaction>(url);
        itemsFiltered = items;
        SetOption("All"); // Set initial option to show all items
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    public void SetOption(string option)
    {
        optionSelected = option;
        if (option == "All") itemsFiltered = items; // Show all items
        else if (option == "Active") itemsFiltered = items.Where(i => i.VActiva).ToList(); // Filter active items
        else if (option == "Inactive") itemsFiltered = items.Where(i => !i.VActiva).ToList(); // Filter inactive items
    }
}